.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: var(--blue);
  text-decoration: none;
  transition: 0.3s;
  align-self: flex-start;
}
.khan__buy-link:visited {
  color: var(--blue);
  text-decoration: none;
}
.khan__buy-link:hover {
  opacity: 0.7;
}
